<div class="d-flex align-items-center w-100 h-100 justify-content-center badge-container">
    <span class="badge badge-primary p-2">{{boxNumber}}</span>
</div>

<div class="row m-0 border p-3 text-center">

    <div class="col-md-6 p-3">
        <button class="btn btn-primary" (click)="toggleButtonBoxTrigger('toggleBbOne')">1</button>
    </div>
    <div class="col-md-6 p-3">
        <button class="btn btn-primary" (click)="toggleButtonBoxTrigger('toggleBbTwo')">2</button>
    </div>
    <div class="col-md-6 p-3">
        <button class="btn btn-primary" (click)="toggleButtonBoxTrigger('toggleBbThree')">3</button>
    </div>
    <div class="col-md-6 p-3">
        <button class="btn btn-primary" (click)="toggleButtonBoxTrigger('toggleBbFour')">4</button>
    </div>

</div>
